<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Painterest clone </title>
    </head>
    <body>
    <h1>Créer un Pin</h1>
    {{ form(monFormulaire) }}
    <a href="{{ path('pins')}}">{{ 'Retour' | upper }}</a>
    </body>
</html>